*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#root_container {
  width: min(90%, 1200px);
  margin: 3rem auto;
}
#root_container div.comment__container {
  position: relative;
}
#root_container div.comment__container::before {
  content: "";
  background-color: rgb(204, 204, 204);
  position: absolute;
  min-height: 100%;
  left: -10px;
  width: 1px;
}
#root_container div.comment__container:not(:first-child) {
  margin-left: 3rem;
  margin-top: 1rem;
}
#root_container div.comment__container div.comment__card {
  padding: 20px;
  background-color: #fff;
  border: 1.5px solid rgb(204, 204, 204);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 0.3rem;
  min-width: 100%;
}
#root_container div.comment__container div.comment__card h3.comment__Title {
  margin-bottom: 1rem;
}
#root_container div.comment__container div.comment__card p {
  margin-bottom: 1rem;
}
#root_container div.comment__container div.comment__card div.comment__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.85rem;
  opacity: 0.6;
  gap: 30px;
}
#root_container div.comment__container div.comment__card div.comment__footer span.show_replies {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */