*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    min-height: 100%;
}

body {
    min-height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root_container {
    width: min(90%, 1200px);
    margin: 3rem auto;
    div.comment__container {
        position: relative;
        &::before {
            content: "";
            background-color: rgba(204, 204, 204, 1);
            position: absolute;
            min-height: 100%;
            left: -10px;
            width: 1px;
        }
        &:not(:first-child){
            margin-left: 3rem;
            margin-top: 1rem;
        }
        div.comment__card {
            padding: 20px;
            background-color: #fff;
            border: 1.5px solid rgba(204, 204, 204, 1);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            border-radius: .3rem;
            min-width: 100%;
            h3.comment__Title {
                margin-bottom: 1rem;
            }
            p {
                margin-bottom: 1rem;
            }
            div.comment__footer {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: .85rem;
                opacity: .6;
                gap: 30px;
                span {
                    &.show_replies {
                        cursor: pointer;

                    }   
                }
            }
        }
    }
}